@{
    ViewData["Title"] = "Home Available Page";
}

<script language="javascript" type="text/javascript">	
  
  						


	
				/* LOT 88 */			

			/*Primary Image */			

				Image88_1 = new Image(600,450)			

				Image88_1.src = "Images/Homes/88/88_1.jpg"						

			

			/*Image Thumnails */			

				Image88_2 = new Image(600,450)			

				Image88_2.src = "Images/Homes/88/88_2.jpg"						

				

				Image88_3 = new Image(600,450)			

				Image88_3.src = "Images/Homes/88/88_3.jpg"						

				

				Image88_4 = new Image(600,450)			

				Image88_4.src = "Images/Homes/88/88_4.jpg"						

				

				Image88_5 = new Image(600,450)			

				Image88_5.src = "Images/Homes/88/88_5.jpg"			

	  
						
				Image88_6 = new Image(600,450)			

				Image88_6.src = "Images/Homes/88/88_6.jpg"						

				

				Image88_7 = new Image(600,450)			

				Image88_7.src = "Images/Homes/88/88_7.jpg"						

				

				Image88_8 = new Image(600,450)			

				Image88_8.src = "Images/Homes/88/88_8.jpg"						

				

				Image88_9 = new Image(600,450)			

				Image88_9.src = "Images/Homes/88/88_9.jpg"		  
	  
	  
	
	  
	
				
    </script>
	
	<!--Image Flip Function 
  
  <script language="javascript" type="text/javascript">
  
	  


	  
	  
	  				/* LOT 88 */	

				function original_88() {				

				document.Main_88.src = Image88_1.src; return true;			

				}			

				function zoom88_2() {				

				document.Main_88.src = Image88_2.src; return true;			

				}			

				function zoom88_3() {				

				document.Main_88.src = Image88_3.src; return true;			

				}			

				function zoom88_4() {				

				document.Main_88.src = Image88_4.src; return true;			

				}			

				function zoom88_5() {				

				document.Main_88.src = Image88_5.src; return true;			

				}			
			
				function zoom88_6() {				

				document.Main_88.src = Image88_6.src; return true;			

				}			

				function zoom88_7() {				

				document.Main_88.src = Image88_7.src; return true;			

				}			

				function zoom88_8() {				

				document.Main_88.src = Image88_8.src; return true;			

				}			

				function zoom88_9() {				

				document.Main_88.src = Image88_9.src; return true;			

				}		  
	  
	  
				
    </script>
    -->

<div class="container">
  <img src="~/Images/Lake_Placid_Trans.png" alt="Lake Placid Banner" width="100%" border="0" style="margin:0px; padding:0px;">

  <div class="row">
    <div class="col-sm-3 carousel_lp" style="background-color:lightgray">
      
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="/home" class="menubar">Home</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("AboutUS", "home")" class="menubar">About Us</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("Location", "home")" class="menubar">Location</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("ParkPlan", "home")" class="menubar">Park Plan</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("Homes", "home")"  class="menubar">Homes Available</a>
          </p>
			    <p>
		       <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("Calendar", "home")"  class="menubar">Calendar</a>
          </p> 
		      <p>
           <!-- <img src="Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">--->
          <!--  <a href="Announcements.html" class="menubar">Announcements</a>--->
          </p>
          <p>
		       <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
               <a href="Rules.html" class="menubar">Park Rules</a>
          </p>
 
         <br>
         <p>
          <a target = "blank" href = 'https://www.twitch.tv/daisychaincosplay'><i class="fab fa-twitch"></i></a>
          <a target = "blank" href = 'https://www.youtube.com/channel/UC-gCUMK_EGUqJ7P9VA7BJmQ'><i class="fab fa-youtube"></i></a>
          <a target = "blank" href='https://twitter.com/codingCommander' ><i class="fab fa-twitter"></i></a>
          <a target = "blank" href='https://www.facebook.com/codingcommanders/'><i class='fab fa-facebook'></i></a>
          <a target = "blank" href='https://www.instagram.com/codingcommanders'><i class='fab fa-instagram'></i></a>
          <a target="blank" href="https://discordapp.com/invite/AeUvu7v"> <i class="fab fa-discord"></i></a>
        </p>
          <p>
            <strong>Lake Placid MHP</strong>
          </p>
          <p>
            980 7th St. NW

            Largo, FL 33770
          <p>
             <a class="menubar" style="font-size:18px;" href="mailto:info@lakeplacidpark.com">info@lakeplacidpark.com</a>
             <br/>
             <a class="menubar" style="font-size:18px;" href="https://weather.com/weather/today/l/07473c243a75921a5e20aac8f7ad66b31fcd9b3bf1dcef2860aeeecf2957bb23">
            <!-- <a class="menubar" style="font-size:18px;" href="https://weather.com/weather/today/l/07473c243a75921a5e20aac8f7ad66b31fcd9b3bf1dcef2860aeeecf2957bb23">
            -->
             <br/>Weather</a>
             <br>
              
             <a   class="menubar" style="font-size:18px;" href="https://www.pcpao.gov/gis.html?v=5&home=&xmin=-9217398.220841866&ymin=3239075.856069011&xmax=-9215628.225905787&ymax=3240129.253864977&basemap=BaseMapParcelAerials&sales=&scale=4513.988705&parcel=27-29-15-48376-000-0011">
             <br/> Pinellas Assessor</a>
             <!--
                <script type="text/javascript" src="http://voap.weather.com/weather/oap/USFL0271?template=TRVLV&par=3000000007&unit=0&key=twciweatherwidget"></script> 
                 <br/>
             Assessor Maps</a>
                <script type="text/javascript" src="https://www.pcpao.gov/gis.html?v=5&home=&xmin=-9217512.876384191&ymin=3238960.0061980034&xmax=-9215742.881448112&ymax=3240014.5983225363&basemap=BaseMapParcelAerials&sales=&scale=4513.988705&parcel="></script> 
                -->
       
         </p>
    </div>
    <div class="col-sm-9 carousel_lp" style="background-color:lightgray">
              <!--CONTENT BEGINS HERE-->
            <!-- 
           div class="page-content page-container" id="page-content">
           Image-->
           <div class="padding">
           <div class="row container d-flex justify-content-center">
 
           <div class="col-lg-8 grid-margin stretch-card" style="width:100%">
              <div class="card">
                <div class="card-body" style="width:100%">
                  <h4 class="card-title" style="width:100%">Property Table</h4>
                  <p class="card-description">
                    Listing Progression
                  </p>
                  <div class="table-responsive">
                    <table class="table" style="width:100%">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Lot #</th>
                          <th>Created On</th>
                          <th>Status</th>
                          <th>View</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Samso Park</td>
                          <td>344</td>
                          <td>12 May 2017</td>
 
                          <td><div class="d-flex flex-row mb-3">
                            <!--
                                <div ><button type="button" class="btn">
                                  <i class="material-icons text-warning">Active</i>
                                </button></div>
                                -->
                                <div ><button type="button" class="btn">
                                  <i class="material-icons text-danger">Sold</i>
                                </button></div>
                              </div>
                          </td>
                           <td>
                            <td><button type="button" style="float:left;width:0 100%;"  class="btn btn-primary"
                                  >View</button></td>
                          </td>

                        </tr>
                        <tr>
                          <td>Marlo Sanki</td>
                          <td>534</td>
                          <td>15 May 2015</td>
                          <td><div class="d-flex flex-row mb-3">
                                <div ><button type="button" class="btn">
                                  <i class="material-icons text-warning">Active</i>
                                </button></div>
                                <!--
                                <div ><button type="button" class="btn">
                                  <i class="material-icons text-danger">Sold</i>
                                </button></div>
                                -->
                              </div></td>
                        </tr>
                        <tr>
                          <td>John ryte</td>
                          <td>532</td>
                          <td>14 May 2017</td>
                          <td><div class="d-flex flex-row mb-3">
                            <!--
                                <div ><button type="button" class="btn">
                                  <i class="material-icons text-warning">Active</i>
                                </button></div>
                                -->
                                <div ><button type="button" class="btn">
                                  <i class="material-icons text-danger">Sold</i>
                                </button></div>
                              </div></td>
                        </tr>
                        <tr>
                          <td>Peter mark</td>
                          <td>53</td>
                          <td>16 May 2017</td>
                          <td><div class="d-flex flex-row mb-3">
                                <div ><button type="button" class="btn">
                                  <i class="material-icons text-warning">Active</i>
                                </button></div>
                                <!--
                                <div ><button type="button" class="btn">
                                  <i class="material-icons text-danger">Sold</i>
                                </button></div>
                                -->
                              </div></td>
                        </tr>
                        <tr>
                          <td>Dave</td>
                          <td>35</td>
                          <td>20 May 2017</td>
                          <td><label class="badge badge-warning">In progress</label></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 





<!--Image Flip Function 
 	  
		  
		  <br>
      <br>
      <table align="center" border="1" cellpadding="4" cellspacing="0" width="620">
        <tbody>
          <tr>
           <td colspan="4" class="BG_Light_Blue"> <a name="L88" id="L88"></a> Lot # 88 [<a href="Park-Plan.html"><span style="font-size: 12px; font-style: italic; color: rgb(0, 0, 0);">Lot Locator</span></a>] </td>
          </tr>
           <tr>
            <td colspan="4" height="470">
            <div align="center"> <img src="~/images/homes/88/88_1.jpg" alt="Lot # 88" name="Main_88" id="Main_88" height="450" width="600"> </div>
            </td>
          </tr><tr>
            <td height="110" width="25%">
            <div align="center"> <img src="~/Images/Homes/88/88_2.jpg" alt="Lot # 88" onmouseover="zoom88_2()" onmouseout="original_88()" height="100" width="132"> </div>
            </td>
            <td width="25%">
            <div align="center">  <img src="~/Images/Homes/88/88_3.jpg" alt="Lot # 88" onmouseover="zoom88_3()" onmouseout="original_88()" height="100" width="132"> </div>
            </td>
            <td width="25%">
            <div align="center">  <img src="~/Images/Homes/88/88_4.jpg" alt="Lot # 88" onmouseover="zoom88_4()" onmouseout="original_88()" height="100" width="132"> </div>
            </td>
            <td width="25%">
            <div align="center">  <img src="~/Images/Homes/88/88_5.jpg" alt="Lot # 88" onmouseover="zoom88_5()" onmouseout="original_88()" height="100" width="132"> </div>
            </td>
          </tr><tr>
            <td height="110" width="25%">
            <div align="center">  <img src="~/Images/Homes/88/88_6.jpg" alt="Lot # 88" onmouseover="zoom88_6()" onmouseout="original_88()" height="100" width="132"> </div>
            </td>
            <td width="25%">
            <div align="center"> <img src="~/Images/Homes/88/88_7.jpg" alt="Lot # 88" onmouseover="zoom88_7()" onmouseout="original_88()" height="100" width="132"> </div>
            </td>
            <td width="25%">
            <div align="center">  <img src="~/Images/Homes/88/88_8.jpg" alt="Lot # 88" onmouseover="zoom88_8()" onmouseout="original_88()" height="100" width="132"> </div>
            </td>
            <td width="25%">
            <div align="center">  <img src="~/Images/Homes/88/88_9.jpg" alt="Lot # 88" onmouseover="zoom88_9()" onmouseout="original_88()" height="100" width="132"> </div>
            </td>
          </tr><tr>
           <td colspan="4">
            <div align="center"> <strong>Description:</strong> </div>
            <table border="0" cellpadding="0" cellspacing="0" width="95%">
              <tbody>
                <tr>
                  <td width="20%"> <strong>Price: </strong> </td>
                  <td width="80%"> $109,000.00 </td>
                </tr>
                <tr>
                  <td> <strong>Size:</strong></td>
                  <td> BRAND NEW 960 Sq Ft MANUFACTURED HOME! </td>
                </tr>
                <tr>
                  <td> <strong>Bedrooms:</strong> </td>
                  <td> 2 </td>
                </tr>
                <tr>
                  <td> <strong>Baths:</strong> </td>
                  <td> 2  </td>
                </tr>
                <tr>
                  <td> <strong>Additions:</strong> </td>
                  <td> 2-car driveway with full carport.</td>
                </tr>
                <tr>
                  <td> <strong>Furnished:</strong> </td>
                  <td> No </td>
                </tr>
                <tr>
                  <td style="vertical-align: top;"> <strong>Comments:</strong>
                  </td>
                  <td> Wonderful open floor plan, lots of light, great Location near front of park. </td>
                </tr>
                <tr>
                  <td valign="top"> <strong>Contact:</strong> </td>
					<td> <a href="mailto:homes@lakeplacidpark.com">homes@lakeplacidpark.com</a> <br /><a href="https://www.zillow.com/homes/980-7th-St-NW-Lot-88-Largo,-FL,-33770_rb/47193461_zpid/" target="_blank">Click here for Zillow listing.</a></td>
                </tr>
             </table>
            </td>
          </tr>
         </table>
		  
		  
		  
 -->		  
</div>


@section Scripts {

// A $( document ).ready() block.
    $( document ).ready(function() {
       // alert('About Us');
    });
	// Find the body element to set a style attribute

<script>
 
	// Find the body element to set a style attribute

	//var body = document.getElementsByTagName("body")[0];
  //  body.style.backgroundColor = "#040720";

</script>
}
 