@{
    ViewData["Title"] = "Home Available Page";
}

<div class="container">
  <img src="~/Images/Lake_Placid_Trans.png" alt="Lake Placid Banner" width="100%" border="0" style="margin:0px; padding:0px;">

  <div class="row">
    <div class="col-sm-3" style="background-color:lightgray">
      
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="/home" class="menubar">Home</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("AboutUS", "home")" class="menubar">About Us</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("Location", "home")" class="menubar">Location</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("ParkPlan", "home")" class="menubar">Park Plan</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("Homes", "home")"  class="menubar">Homes Available</a>
          </p>
			<p>
		  <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("Calendar", "home")"  class="menubar">Calendar</a>
          </p> 
		  <p>
           <!-- <img src="Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">--->
          <!--  <a href="Announcements.html" class="menubar">Announcements</a>--->
          </p>
          <p>
		       <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
               <a href="Rules.html" class="menubar">Park Rules</a>
          </p>
 
         <br>
          <p>
            <strong>Lake Placid MHP</strong>
          </p>
          <p>
            980 7th St. NW

            Largo, FL 33770
          </p>
                    <!--
          <p>
            <a class="menubar" style="font-size:18px;" href="mailto:info@lakeplacidpark.com">info@lakeplacidpark.com</a>
  <script type="text/javascript" src="http://voap.weather.com/weather/oap/USFL0271?template=TRVLV&par=3000000007&unit=0&key=twciweatherwidget"></script> 
         </p>
          <br>
 
          <p style="font-size:12px;">
          	Site By: <a href="http://www.smdesignstudios.com" class="menubar" style="font-size:12px;">SM Design Studios</a>
            -->
    </div>
    <div class="col-sm-9" style="background-color:lightgray">
              <!--CONTENT BEGINS HERE-->
            <!--Image-->
            <img src="~/Images/Slideshow/3_b.jpg" alt="Lake Placid MHP" height="200" width="700" border="0">
            <!--Alignment Div-->
            <div style="padding:0px 10px;">
              <!--Sub Header-->
              <h2 align="left" style="margin:5px 0px; padding:0px 0px;">
                About Us
              </h2>
              <p align="left">
              	Lake Placid Park is a beautiful quiet friendly 55+ resident owned community and we are located, in Largo, central Pinellas County, Florida.  Our 99 unit mobile home retirement community surrounds a 3-acre spring-fed lake, excellent for fishing and watching our feathered friends.
							</p>
              <p align="left">
             	 The Board of Directors uses professional management and maintenance companies to provide a safe, well run and affordable place to live.  Lake Placid Park is a member of the ROC Forum (Resident Owned Community) and CAI (Community Association Institute).
              </p>
              <p align="left">
              	Our residents enjoy:
                <ul>
                  <li>Beautiful clubhouse with a lending library, bingo, billiards table, live music, resident artwork and Wi-Fi. </li>
                  <li>Activities including, shuffleboard and bocce tournaments, weekly coffee hour, exercise program, Saturday brunch, game nights, monthly dinners, picnics, lunch outings, and weekly Bible study.</li>
                </ul>
              </p>
              <p align="left">
                Our 55+ resident owned community is just minutes away from:
                <ul>
                  <li>Gulf of Mexico beaches</li>
                  <li>A number of Largo City and Pinellas County parks</li>
                  <li>Pinellas Bike Trail which runs from St Petersburg to Tarpon Springs  (34 miles long)</li>
                  <li>Public and private golf courses</li>
                  <li>Churches, banks, restaurants, shopping malls, major hospitals and clinics</li>
                  <li>Bus lines</li>
                  <li>Largo Cultural Center</li>
                  <li>Largo Library</li>
                  <li>Largo Community Center</li>
                  <li>Highland Recreation Center</li>
                  <li>Southwest Recreation Center</li>
                  <li>YMCA</li>
                  <li>Harvest Market</li>
                  <li>Bowling Alley</li>
                  <li>Movie theaters</li>
                </ul>
              </p>
              <p align="left">
              	Easily accessible:
              	<ul>
                	<li>Airports (Tampa, St Pete/ Clearwater International)</li>
                  <li>Baseball Spring Training</li>
				  <li>~ Dunedin Stadium - Toronto Blue Jays</li>
				  <li>~ George Steinbrenner Field - NY Yankees</li>
				  <li>~ Brighthouse Stadium - Phillies</li>
				  <li>Tampa Cruise Terminal</li>
				  <li>Tampa Theater</li>
                  <li>Busch  Gardens</li>
                  <li>Orlando Theme Parks </li>
                  <li>Seminole Hard Rock Casino </li>
                  <li>Tampa Downs horse racing </li>
                  <li>Derby Lanes dog track </li>
                  <li>Lowery Park Zoo </li>
                  <li>Ruth Eckerd Hall</li>
                  <li>Tampa Bay Performing Arts Center</li>
              	</ul>
              </p>
              <p align="left">
                Lake Placid Park, Inc
                <br>
                980 7th St. NW
                <br>
                Largo Florida 33770
              </p>
            </div>
          <!--CONTENT ENDS HERE-->
    </div>
 
  </div>
</div>


@section Scripts {

// A $( document ).ready() block.
    $( document ).ready(function() {
       // alert('About Us');
    });
	// Find the body element to set a style attribute

<script>
 
	// Find the body element to set a style attribute

	var body = document.getElementsByTagName("body")[0];
    body.style.backgroundColor = "#040720";

</script>
}
 