@{
    ViewData["Title"] = "Home Page";
     Layout = "_Layout";
}

<!--
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
-->
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 
--> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 

<div class="container">
    <img title="Click to learn about Deed Restricted" src="~/Images/Lake_Placid_Trans.png" alt="Lake Placid Banner" width="100%" border="0" style="margin:0px; padding:0px;">

  <div class="row">
    <div class="col-sm-3 carousel_lp" style="background-color:lightgray">
          <p>
          <a href="@Url.Action("Index", "home")" <i class="glyphicon glyphicon-cloud"></i>Home</a>
          </p>
          <p>
            <a href="@Url.Action("AboutUS", "home")" <span class="glyphicon glyphicon-user">About</a>
          </p>
          <p>
            <a href="@Url.Action("Location", "home")" <span class="glyphicon glyphicon-star">Location</a>
          </p>
          <p>
            <a href="@Url.Action("ParkPlan", "home")" <span class="glyphicon glyphicon-camera">Park</a>
          </p>
          <p>
            <a href="@Url.Action("Homesx", "home")"  <span class="glyphicon glyphicon-circle-arrow-right"></span>Homes</a>
          </p>
			<p>
          <a href="@Url.Action("Calendar", "home")"  <span class="glyphicon glyphicon-calendar"></span>Calendar</a>
          </p> 
		  <p>
          <a href="@Url.Action("NewProperty", "home")" class="menubar">Ideas</a>
          </p>
          <p>
          <a href="@Url.Action("Rules", "home")" <span class="glyphicon glyphicon-eye-open"></span>Rules</a>
        </p>
         <br>
        <p>
          
          <a target = "blank" href = 'https://www.youtube.com/channel/UC-gCUMK_EGUqJ7P9VA7BJmQ'><i class="fab fa-youtube"></i></a>
          <a target = "blank" href='https://twitter.com/codingCommander' ><i class="fab fa-twitter"></i></a>
          <a target = "blank" href='https://www.facebook.com/codingcommanders/'><i class='fab fa-facebook'></i></a>
          <a target = "blank" href='https://www.instagram.com/codingcommanders'><i class='fab fa-instagram'></i></a>
          <a target="blank" href="https://discordapp.com/invite/AeUvu7v"> <i class="fab fa-discord"></i></a>
        </p>
          <p>
            <strong>Lake Placid MHP</strong>
          </p>
          <p>
            <strong>980 7th St. NW</strong> 
            <strong>Largo, FL 33770</strong> 
          </p>
          <p>
             <a class="menubar" style="font-size:18px;" href="mailto:info@lakeplacidpark.com">info@lakeplacidpark.com</a>
             <br/>
             <a class="menubar" style="font-size:18px;" href="https://weather.com/weather/today/l/07473c243a75921a5e20aac8f7ad66b31fcd9b3bf1dcef2860aeeecf2957bb23">
            <!-- <a class="menubar" style="font-size:18px;" href="https://weather.com/weather/today/l/07473c243a75921a5e20aac8f7ad66b31fcd9b3bf1dcef2860aeeecf2957bb23">
            -->
             <br/>Weather</a>
             <br>
             <a   class="menubar" style="font-size:18px;" href="https://www.pcpao.gov/gis.html?v=5&home=&xmin=-9217398.220841866&ymin=3239075.856069011&xmax=-9215628.225905787&ymax=3240129.253864977&basemap=BaseMapParcelAerials&sales=&scale=4513.988705&parcel=27-29-15-48376-000-0011">
             <br/> Pinellas Assessor</a>
         </p>
          <br>
    </div>


    <div class="col-sm-9 carousel_lp" style="background-color:lightgray">
            <div style="padding:0px 10px;">
              <!--Title-->
              <h1 align="center" style="margin:0px 0px; padding:0px 0px;">
                Lake Placid Mobile Home Park
              </h1>
              <!--Sub Header-->
              <h2 align="center" style="margin:5px 0px; padding:0px 0px;">
                55+ Resident Owned Community
              </h2>
              <p align="left">
                If you are seeking a quiet 55+ Resident Owned Community for your retirement, Lake Placid Park is the place for you.
              </p>
              <p align="left">
                We are a friendly Resident Owned mobile home park, located in Central Pinellas Co., Florida between St. Petersburg and Clearwater in the Tampa Bay Area and near the Gulf of Mexico Beaches.
              </p>
              <p align="left">
                Our 99 unit mobile home retirement community surrounds a beautiful 3-acre spring fed lake. Our lake provides a place for our residents to sit and relax, catch a few fish, watch our feathered friends, or just enjoy the abundant sunshine.
              </p>
              <p align="left">
                Come, visit and let us show you how our 55+ Resident Owned Community can offer you affordable living in a secluded setting, within walking distance of shopping and restaurants.
                </p>
                 <p align="right" style="padding-right:50px;">
                - Lake Placid MHP
              </p>
              <!--https://www.pcpao.gov/gis.html?v=5&home=&xmin=-9217440.197953328&ymin=3239052.1159565877&xmax=-9215670.20301725&ymax=3240106.7080811206&basemap=BaseMapParcelAerials&sales=&scale=4513.988705&parcel=27-29-15-48376-000-0011
              -->
            </div>

              
        <div id="carouselExampleCaptions" class="carousel carousel_lp slide data-bs-ride="carousel"">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
            <img  src="Images/Slideshow/1_b.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Entrance</h5>
                <!--
                <p>Some representative placeholder content for the first slide.</p>
                -->
            </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
            <img   src="Images/Slideshow/3_b.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Lake & Home</h5>
                <!--
                <p>Some representative placeholder content for the second slide.</p>
                -->
            </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
            <img  src="Images/Slideshow/6_b.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Shuffle Board</h5>
                <!--
                <p>Some representative placeholder content for the third slide.</p>
                -->
            </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
 
 
    </div>
 
  </div>
 
</div>
 
 

@section Scripts {

<script>
 
 // A $( document ).ready() block.
$( document ).ready(function() {
   // var $box = document.getElementsByTagName("body")[0];
      var ls = ['rgb(255,0,0)', 'rgb(0,255,0)', 'rgb(0,0,255)'];

/*
      $.each(ls, function (i, x) {
        //alert('stop');
          setTimeout(function () {
              	var body = document.getElementsByTagName("body")[0];
               // body.style.backgroundColor = x;
          }, 2000 + (i+1));
          if (i === 2)
             i = 0;
             console.log(i);
      });
*/
 
});
</script>

<script>
 
	// Find the body element to set a style attribute

	var body = document.getElementsByTagName("body")[0];
  body.style.backgroundColor = "#040720";

</script>

  

}