@{
    ViewData["Title"] = "Rules Page";
}

<div class="container">
  <img src="~/Images/Lake_Placid_Trans.png" alt="Lake Placid Banner" width="100%" border="0" style="margin:0px; padding:0px;">

  <div class="row">
    <div class="col-sm-3 carousel_lp" style="background-color:lightgray">
      
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="/home" class="menubar">Home</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("AboutUS", "home")" class="menubar">About Us</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("Location", "home")" class="menubar">Location</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("ParkPlan", "home")" class="menubar">Park Plan</a>
          </p>
          <p>
            <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("Homes", "home")"  class="menubar">Homes Available</a>
          </p>
			<p>
		  <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
            <a href="@Url.Action("Calendar", "home")"  class="menubar">Calendar</a>
          </p> 
		  <p>
           <!-- <img src="Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">--->
          <!--  <a href="Announcements.html" class="menubar">Announcements</a>--->
          </p>
          <p>
		       <img src="~/Images/Bullet.png" alt="Bullet" border="0" height="9" width="6" style="padding-right:5px;">
               <a href="@Url.Action("Rules", "home")" class="menubar">Park Rules</a>
          </p>
 
         <br>
        <p>
          <a target = "blank" href = 'https://www.twitch.tv/daisychaincosplay'><i class="fab fa-twitch"></i></a>
          <a target = "blank" href = 'https://www.youtube.com/channel/UC-gCUMK_EGUqJ7P9VA7BJmQ'><i class="fab fa-youtube"></i></a>
          <a target = "blank" href='https://twitter.com/codingCommander' ><i class="fab fa-twitter"></i></a>
          <a target = "blank" href='https://www.facebook.com/codingcommanders/'><i class='fab fa-facebook'></i></a>
          <a target = "blank" href='https://www.instagram.com/codingcommanders'><i class='fab fa-instagram'></i></a>
          <a target="blank" href="https://discordapp.com/invite/AeUvu7v"> <i class="fab fa-discord"></i></a>
        </p>
          <p>
            <strong>Lake Placid MHP</strong>
          </p>
          <p>
            980 7th St. NW

            Largo, FL 33770
          </p>
          <p>
             <a class="menubar" style="font-size:18px;" href="mailto:info@lakeplacidpark.com">info@lakeplacidpark.com</a>
             <br/>
             <a class="menubar" style="font-size:18px;" href="https://weather.com/weather/today/l/07473c243a75921a5e20aac8f7ad66b31fcd9b3bf1dcef2860aeeecf2957bb23">
            <!-- <a class="menubar" style="font-size:18px;" href="https://weather.com/weather/today/l/07473c243a75921a5e20aac8f7ad66b31fcd9b3bf1dcef2860aeeecf2957bb23">
            -->
             <br/>Weather</a>
             <br>
              
             <a   class="menubar" style="font-size:18px;" href="https://www.pcpao.gov/gis.html?v=5&home=&xmin=-9217398.220841866&ymin=3239075.856069011&xmax=-9215628.225905787&ymax=3240129.253864977&basemap=BaseMapParcelAerials&sales=&scale=4513.988705&parcel=27-29-15-48376-000-0011">
             <br/> Pinellas Assessor</a>
             <!--
                <script type="text/javascript" src="http://voap.weather.com/weather/oap/USFL0271?template=TRVLV&par=3000000007&unit=0&key=twciweatherwidget"></script> 
                 <br/>
             Assessor Maps</a>
                <script type="text/javascript" src="https://www.pcpao.gov/gis.html?v=5&home=&xmin=-9217512.876384191&ymin=3238960.0061980034&xmax=-9215742.881448112&ymax=3240014.5983225363&basemap=BaseMapParcelAerials&sales=&scale=4513.988705&parcel="></script> 
                -->
       
         </p>
          <br>
    </div>
    <div class="col-sm-9 carousel_lp" style="background-color:lightgray">
            <!--CONTENT BEGINS HERE-->
            <!--Image-->
            <img src="~/Images/Slideshow/6_b.jpg" alt="Lake Placid MHP" height="200" width="700" border="0">
            <!--Alignment Div-->
            <div style="padding:0px 10px;">
              <!--Sub Header-->
              <h2 align="left" style="margin:5px 0px; padding:0px 0px;">
	     	Park Rules 
			</h2>

          <!--  <button type="button" class="btn btn-primary">Download Rules</button>
          -->
            <a href="~/Info/Rules.pdf" target="_blank">***Click Here To Download Park Rules***</a>
            <br>
            <div class="col-9 d-flex justify-content-center">
        <!-- Image -->
                  <embed src="~/Images/Rules.pdf" width="1200" height="2100px" />
            </div>
            <!-- Facebook -->
 
<!--
	        <div align="center">
                 
                 
	             <iframe src="~/Images/Rules.pdf" style="width: 100%;height: 800;border: none;"></iframe>
             
             </div>
                  -->
            </div>
          <!--CONTENT ENDS HERE-->
    </div>
 
  </div>
</div>


@section Scripts {
// A $( document ).ready() block.
    $( document ).ready(function() {
       // alert('About Us');
    });
	// Find the body element to set a style attribute
<script>
 
	// Find the body element to set a style attribute

//	var body = document.getElementsByTagName("body")[0];
//    body.style.backgroundColor = "#040720";

</script>
}