@{
    ViewData["Title"] = "Rules Page";
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">
  <img src="~/Images/Lake_Placid_Trans.png" alt="Lake Placid Banner" width="100%" border="0" style="margin:0px; padding:0px;">

  <div class="row">
     <div class="col-sm-3 carousel_lp" style="background-color:lightgray">
          <p>
          <a href="@Url.Action("Index", "home")" <i class="glyphicon glyphicon-cloud"></i>Home</a>
          </p>
          <p>
            <a href="@Url.Action("AboutUS", "home")" <span class="glyphicon glyphicon-user">About</a>
          </p>
          <p>
            <a href="@Url.Action("Location", "home")" <span class="glyphicon glyphicon-star">Location</a>
          </p>
          <p>
            <a href="@Url.Action("ParkPlan", "home")" <span class="glyphicon glyphicon-camera">Park</a>
          </p>
          <p>
            <a href="@Url.Action("Homesx", "home")"  <span class="glyphicon glyphicon-circle-arrow-right"></span>Homes</a>
          </p>
			<p>
          <a href="@Url.Action("Calendar", "home")"  <span class="glyphicon glyphicon-calendar"></span>Calendar</a>
          </p> 
		  <p>
          <a href="@Url.Action("NewProperty", "home")" class="menubar">Ideas</a>
          </p>
          <p>
          <a href="@Url.Action("Rules", "home")" <span class="glyphicon glyphicon-eye-open"></span>Rules</a>
        </p>
         <br>
        <p>
          
          <a target = "blank" href = 'https://www.youtube.com/channel/UC-gCUMK_EGUqJ7P9VA7BJmQ'><i class="fab fa-youtube"></i></a>
          <a target = "blank" href='https://twitter.com/codingCommander' ><i class="fab fa-twitter"></i></a>
          <a target = "blank" href='https://www.facebook.com/codingcommanders/'><i class='fab fa-facebook'></i></a>
          <a target = "blank" href='https://www.instagram.com/codingcommanders'><i class='fab fa-instagram'></i></a>
          <a target="blank" href="https://discordapp.com/invite/AeUvu7v"> <i class="fab fa-discord"></i></a>
        </p>
          <p>
            <strong>Lake Placid MHP</strong>
          </p>
          <p>
            <strong>980 7th St. NW</strong> 
            <strong>Largo, FL 33770</strong> 
          </p>
          <p>
             <a class="menubar" style="font-size:18px;" href="mailto:info@lakeplacidpark.com">info@lakeplacidpark.com</a>
             <br/>
             <a class="menubar" style="font-size:18px;" href="https://weather.com/weather/today/l/07473c243a75921a5e20aac8f7ad66b31fcd9b3bf1dcef2860aeeecf2957bb23">
            <!-- <a class="menubar" style="font-size:18px;" href="https://weather.com/weather/today/l/07473c243a75921a5e20aac8f7ad66b31fcd9b3bf1dcef2860aeeecf2957bb23">
            -->
             <br/>Weather</a>
             <br>
             <a   class="menubar" style="font-size:18px;" href="https://www.pcpao.gov/gis.html?v=5&home=&xmin=-9217398.220841866&ymin=3239075.856069011&xmax=-9215628.225905787&ymax=3240129.253864977&basemap=BaseMapParcelAerials&sales=&scale=4513.988705&parcel=27-29-15-48376-000-0011">
             <br/> Pinellas Assessor</a>
         </p>
          <br>
    </div>
    <div class="col-sm-9 carousel_lp" style="background-color:lightgray">
            <!--CONTENT BEGINS HERE-->
            <!--Image-->
            <br/>
            <img src="~/Images/Slideshow/6_b.jpg" alt="Lake Placid MHP"class="carousel_lp"
                       width="100%" border="0" style="margin:0px; padding:0px;">
            <!-- 
            <div style="padding:0px 10px;">
             
              <h2 align="left" style="margin:5px 0px; padding:0px 0px;">
                -->
                <br/>
	     	Park Rules 
			</h2>

          <!--  <button type="button" class="btn btn-primary">Download Rules</button>
          -->
          <br/>
            <a href="~/Info/Rules.pdf" target="_blank">***Click Here To Download Park Rules***</a>
            <br>
            <div class="col-9 d-flex justify-content-center">
              <br/>
              <br/>
        <!-- Image -->
                  <embed src="~/Images/Rules.pdf" width="1200" height="2100px" />
            </div>
            <!-- Facebook -->
 
<!--
	        <div align="center">
                 
                 
	             <iframe src="~/Images/Rules.pdf" style="width: 100%;height: 800;border: none;"></iframe>
             
             </div>
                  -->
            </div>
          <!--CONTENT ENDS HERE-->
    </div>
 
  </div>
</div>


@section Scripts {
// A $( document ).ready() block.
    $( document ).ready(function() {
       // alert('About Us');
    });
	// Find the body element to set a style attribute
<script>
 
	// Find the body element to set a style attribute

//	var body = document.getElementsByTagName("body")[0];
//    body.style.backgroundColor = "#040720";

</script>
}